{% extends "base.html" %} 

{% block content %}

<h1> Add Brew Log</h1>

<br>

  <div class="row">
    <form action="" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">assignment</i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate">
          <label for="icon_prefix">Recipe Name</label>
        </div>
        <div class="input-field col s12" id="matfix">
          <i class="material-icons prefix">today</i>
          <input id="brew_date" type="text" class="datepicker" name="brew_date">
          <label for="icon_prefix">Brew Date</label>
        </div>
        <div class="input-field col s12">
                <i class="material-icons prefix">timer</i>
                <input id="duration" name="duration" type="text">
                <label for="icon_prefix">Duration (hours)</label>
        </div>
        <div class="input-field col s12">
                <i class="material-icons prefix">local_bar</i>
                <input id="alcohol_%" name="alcohol_%" type="text">
                <label for="icon_prefix">Alcohol %</label>
        </div>
 <div class="row">
 <div class="input-field col s6">
    <select multiple id="ingredients" name="ingredients" >
      <option value="" disabled selected>Choose your ingredients</option>
      <option value="1">Barley</option>
      <option value="2">Hops</option>
      <option value="3">Lactic Acid</option>
    </select>
    <label>Ingredients</label>
  </div>
 </div>

 <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="task_description" id="task_description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Task Description</label>
            </div>
        </div>

      </div>
    </form>
  </div>

{% endblock %}