{% extends "base.html" %}

{% block content %}
<h4 class="title  is-capitalized has-text-grey-lighter has-text-centered">
	{{ name }}'s Beer Diary!
</h4>
</br>
</br>


<a class="waves-effect lime darken-4 btn"
	href="{{ url_for('auth.addlog') }}"><i class="material-icons left">local_drink</i>Add Brew-Day Log</a>
</br>


<ul class="collapsible popout brown-text text-darken-2">
	{% for recipe in dashboard_data%}
	<li>
		<div class="collapsible-header"><i class="material-icons">open_in_full</i>
			{{recipe.recipe_name}} - {{recipe.brew_date}}
		</div>
		<div class="collapsible-body brown lighten-4"><span>
        {{recipe.ingredients}}
        </span>
		</div>
	</li>
	{% endfor %}
	</br>
	<li>
		<div class="collapsible-header"><i class="material-icons">open_in_full</i>Second</div>
		<div class="collapsible-body brown lighten-4"><span class="material-icons">
local_drink
</span><span>Lorem ipsum dolor sit amet.</span></div>
	</li>
	<li>
		<div class="collapsible-header"><i class="material-icons">expand_more</i>Third</div>
		<div class="collapsible-body brown lighten-4"><span>Lorem ipsum dolor sit amet.</span></div>
	</li>
</ul>


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<a class="waves-effect orange lighten-2 btn" href="{{ url_for('auth.cancel') }}">Disable Account</a>




{% endblock %}