{% extends "base.html" %}

{% block content %}

<div class="container">
<a class="responsive" href="{{ url_for('main.index') }}">
  <img src="{{ url_for('static', filename='images/brewmaster3.1.png') }}" alt="BrewMaster" class="image">
</a>
  <div class="overlay">
    <div class="text">Welcome to brewMaster St. agur blue cheese jarlsberg cream cheese. Cheese strings macaroni cheese cheesecake melted cheese fondue parmesan brie cheesecake. Jarlsberg fondue macaroni cheese smelly cheese cauliflower cheese taleggio feta fromage. Bocconcini.</div>
  </div>
</div>



{% endblock %}
