{% extends "base.html" %}

{% block content %}

<div class="container">
	<a class="responsive" href="{{ url_for('main.index') }}">
		<img src="{{ url_for('static', filename='images/brewmaster3.1.png') }}" alt="BrewMaster" class="image">
</a>
		<div class="overlay">
			<div class="text col6">
				<h2 class="home-title"> Welcome to BrewMaster</h2>
				<p>A web application focused on offering passionate home beer brewers a platform to log the entire process during brew day and improve every beer batch, one step at a time.</p>
			</div>
		</div>
</div>



{% endblock %}