html,body {
  margin: 0;
  height: 100%;
}


.logo {
   width: 112px;
   height: 28px;

}

.footer-copyright {
    text-align: center;

}


/*h4 {
  text-decoration: underline overline;
  font-weight: bold;
}*/