html,
body {
  margin: 0;
  height: 100%;
}

.logo {
  height: 80px;
  width: 50px;
}

.footer-copyright {
  text-align: center;
}
/* font-family: "Open Sans", sans-serif;*/

h5 {
  text-decoration: underline overline;
  font-weight: bold;
}

h3 {
  text-decoration: underline overline;
  font-weight: bold;
}

.btn {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}