html,
body {
  margin: 0;
  height: 100%;
}

/* HOME Page Logo image effects*/

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #41300d;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

/* LOGO */
.logo {
  height: 60px;
  width: 60px;
}

.footer-copyright {
  text-align: center;
}

h5 {
  text-decoration: underline;
}

.btn {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}

.datepicker {
  color: #41300d;
}

.flashcolor {
  color: #41300d;
}


/* Make homepage text responsive*/
@media (max-width: 850px){
    .text{
        font-size: 5px;
    }
}

@media (max-width: 768px){
    .text{
        font-size: 15px;
    }
}

@media (max-width: 375px){
    .text{
        font-size: 6px;
    }
}


@media only screen and (max-width: 480px) {
    .text{
        font-size: 6px;
    }
}

@media(min-width: 992px) {
   .text{
        font-size: 15px;
    }
}


@media (min-width: 440px) {
  .text{
        font-size: 5px;
    }
}

@media (min-width: 414px) {
  .text{
        font-size: 5px;
    }
}

@media (min-width: 375px) {
  .text{
        font-size: 5px;
    }
}

@media (min-width: 768px) {
   .text{
        font-size: 15px;
    }
}
