html,
body {
  margin: 0;
  height: 100%;
}

/* HOME Page Logo image effects*/

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(65, 48, 13, 0.959);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





/* LOGO */
.logo {
  height: 100px;
  width: 100px;
}

.footer-copyright {
  text-align: center;
}
/* font-family: "Open Sans", sans-serif;*/

h5 {
  text-decoration: underline ;
  font-weight: bold;
}

h3 {
  text-decoration: underline;
  font-weight: bold;
}

.btn {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.datepicker {
    color: rgba(65, 48, 13, 0.959)
}

.flashcolor {
    color: rgba(65, 48, 13, 0.959)
}